@media screen and (max-width: 400px){

    /*header*/
    header{
        display: none;
    }
    /* Container 2 */
    .padding{
        display: none;
    }
    .container2{
        flex-direction: column-reverse;
    }
    h3{
        font-size: 30px;
    }
    .imagen{
        width: 100%;
        /*margin-top: 5%;
        margin-bottom: 3%;*/
    }
    
    
    /*Container 3*/
    /*.conocimientos{
        font-weight: 300;
        font-size: 10px;
        padding-top: 100px;
    }
    .parrafo{
        width: 400px;
    }
    .card{
        width: 50%;
        height: 110px;
        
    }
    .tamaño{
        font-size: 50%;
    }
    .fa-html5{
        font-size: 40px;
    }*/


.parrafo1{

}




























.container-final{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction:column;
}






    .containerFooter2{
        width: 5em;
    }
}
