@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;0,800;0,900;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100vw;
    /*overflow-x:hidden*/
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    color: white;
    background-color: white;
}
nav{
    width: 60%;
    padding: auto;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
}
a{  
    text-decoration: none;
    color: black;
}
.container1{
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.caja{
    margin: 15px;
}
.caja1{
    margin: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #00ACBF;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
/*-----------------------*/
.padding{
    padding-top: 5%; /* Separa la parte de arriba para que se vea la foto*/
}
main{
    display: flex;
    flex-direction: column;
}
.container2{
    background-color:#fcfeff;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
h1{
    color:#00ACBF;
    font-size: 60px;
}
.holaSoy{
    width: 50%;
    height: 15%;
    margin: 5em;
    margin-top: 10%;
    padding: 1em;

}
.lo-que-hago{
    margin: 8%;
    width: 12em;
    height: 2.5em;
    border-radius: 20px;
    background-color: #00ACBF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color1{
    color: white;
}

.imagen{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 5%;

}

/*-------------------------*/
.container3{
    width: 100%;
    padding-top: 8%;
    background-color:#00acbf15;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.conocimientos{
    font-size: 2em;
    font-weight: 800;
    padding-top: 50px;
}
.parrafo{    
    width: 35%;
    padding: 40px;
    font-size: 16px;
}
.container-card{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.card{
    width: 15em;
    height: 13em;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.tamaño{
    font-size: 100%;
}
.fab{
    margin-bottom: 15px;
}
.fa-html5{
    color:#E54D26;
    font-size: 5em;
}
.fa-css3-alt{
    color:#3D8FC6;
    font-size: 5em;
}
.fa-sass{
    color:#D88BB2;
    font-size: 5em;
}
.fa-js{
    color:#F0DB4F;
    font-size: 5em;
}
.fa-react{
    color:#61DAFB;
    font-size: 5em;
}
.fa-git-alt{
    color:#F34F29;
    font-size: 5em;
}
/*-------------------------*/
.container4{
    background-color:#00ACBF;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fa-quote-right{
    font-size: 80px;
    margin-top: 2em;
}
.parrafo1{
    width: 50%;
    height: 50%;
    font-size: 20px;
    margin-top: 40px;
    padding: 20px;
}
h4{
    font-size: 30px;
    padding-bottom: 100px;
    margin-top: 30px;
}

/*--------------------------------*/
.container5{
    width: 100%;
    background-color:#fcfeff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.proyectos{
    width: 50%;
    font-size: 30px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parrafo2{
    width: 60%;
    font-size: 17px;
    padding-top: 3%;
}
.container-card2{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding:5%
}
.card-foto{
    width: 29%;
    height: 290px;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;
}
.tamaño2{
    width: 100%;
    height: 70%;
    border-radius: 15px;
}
h5{
    margin-top:10%;
    font-weight: 600;
    font-size: 15px;
}

/*-------------------*/
.container-final{
    width: 100%;
    background-color: #00acbf15;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding:5%;
}
.container-final2{
    width: 80%;
    background-color:#fcfeff ;
    padding-top: 70px;
    display: flex;
    border-radius: 15px;
    margin:5%;
}
.caja-final1{
    width: 50%;
    height: 500px;
    font-size: 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contactame-escribime{
    font-weight: 900;
    font-size: 30px;
    margin-left: 50px;
}
.lorem{
    margin:5%;
    width: 70%;
    padding-left: 30px;
    text-align: center;
}


.container-contactos{
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-left: 15%;
    
}
.cambios2{
    color: #00ACBF;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding:10px;
    text-align: center;
}

/*--Formulario--*/
.cajafinal2{
    width: 50%;
    flex-direction: row;
    padding-bottom: 15%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    /*justify-content: space-between;
    align-items: flex-start;*/
}
.container-form{
    width: 100%;
    display: flex;
    margin-top: 5%;
    padding-right: 10%;
    /*flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
}
.caja-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
label{
    font-weight: 600;
}
input{
    width: 100%;
    height: 3em;
    background-color: #e7e7e9;
    border-radius: 2em;
    padding-left: 1.5em;
    border:1px solid #00ACBF;
    outline: none;
    margin: 1em;
}
textarea{
    width: 100%;
    height: 10em;
    background-color: #e7e7e9;
    border-radius: 2em;
    padding: 1em;
    border:1px solid #00ACBF;
    outline:none;
    margin: 1em;
}
button{
    width: 10em;
    height: 3em;
    font-size: 15px;
    color:white;
    background-color: #00ACBF;
    border:1px solid #00ACBF;
    border-radius: 3em;
    outline:none;
}
.caja-button{
    display: flex;
    justify-content: center;
}





/*-----------------------*/
.containerFooter1{
    width: 100%;
    height: 20em;
    background-color: #00ACBF;
    color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.containerFooter2{
    width: 35%;
    display: flex;
    flex-direction: row;
}
.cajaFooter{
    color: white;
    margin:1em;
}
.cambios3{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: white;
    color: #00ACBF;
    text-align: center;
    padding-top: 1em;
    margin:1em;
}
.containerFooter3{
    display: flex;
    flex-direction: row;
    margin: 1em;
}